.statistics-chart{
    background-color: #fff;
    flex:1;
    padding:20px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

.statistics-chart .select-filter{
    position:absolute;
    top:30px;
    right: 100px;
}

.statistics-chart .header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.statistics-chart .header h3{
    font-size: 25px;
    font-weight: 600;
}